@font-face {
    font-family: UtopiaStdIt;
    font-weight: 600;
    src: url("UtopiaStd-DispIt.otf") format("opentype");
}

@font-face {
    font-family: UtopiaStd;
    font-weight: 600;
    src: url("UtopiaStd-Disp.otf") format("opentype");
}


    body {
        background-color: rgba(32, 32, 32, 1);
    }
     
    h1 {
      font-family: UtopiaStdIt;
      font-size: 24px;
      color: white;
      letter-spacing: 10%;
    }

    p {
      font-family: UtopiaStd;
      font-size: 72px;
      color: white;
      line-height: 60%;
      }