*{
background-color: #202020;
color: white;
max-width: 100%;
box-sizing: border-box;
}


@font-face {
    font-family: UtopiaStdIt;
    font-weight: 600;
    src: url("UtopiaStd-DispIt.otf") format("opentype");
}

@font-face {
    font-family: UtopiaStd;
    font-weight: 600;
    src: url("UtopiaStd-Disp.otf") format("opentype");
}


.cabecalho {
    height: 50px;
    margin-bottom: 10px;
}

.cabecalho p {
    font-size: 24px;
    text-align: start;
    font-style: italic;
    color: white;
    /*margin-left: 20px;*/
    display: inline;
}

.cabecalho ul {
    list-style-type: none;
    /* padding-inline-start: 10px; */
}

.cabecalho ul li {
    font-size: 24px;
    text-align: start;
    color: white;
    /* margin-left: 20px;*/
    display: inline;
}

.cabecalho a {
    color: white;
    background-color: transparent;
    text-decoration: none;
    transition: 0.3s;
}

#titulo-site {
    font-size: 24px;
    color: white;
    font-family: UtopiaStdIt;
    font-weight: normal;
    letter-spacing: 10%;
}

#voltar {
    margin-left: 20px;
    font-family: UtopiaStd;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 10%;
}

.container{
    display: flex;
    justify-content: center;
}

.sobre{
    width: 50vw;
    padding:30px;    
    margin-left: 20px;
}
.info{
    width:50vw;
    padding: 30px;
}

.titulos {
    font-family: UtopiaStd;
    font-size: 35px;
    color: white;
    font-weight: 600;
}


.texto {
    font-family: UtopiaStd;
    font-size: 24px;
    color: white;
    margin:0;
    font-weight: 600;
 }

a:link {
        color: white;
        background-color: transparent;
        text-decoration: none;
        transition: 0.3s;
}

    
    a:visited { text-decoration: none; color:white; }
    a:hover { text-decoration: none; color:rgb(197, 197, 197); }
    a:focus { text-decoration: none; color:white; }
    a:hover, a:active { text-decoration: none; color:rgb(197, 197, 197)}
