.main{
background-color: #202020;
color: white;

}

@font-face {
    font-family: UtopiaStdIt;
    src: url("UtopiaStd-DispIt.otf") format("opentype");
}

@font-face {
    font-family: UtopiaStd;
    src: url("UtopiaStd-Disp.otf") format("opentype");
}



/* .titulosite{
    position: absolute;
    width: 312px;
    height: 29px;
    top: 0;
    left: 0;
    margin-left: 53px;
    font-family: UtopiaStdIt;
    font-size: 24px; 
    letter-spacing: 10%;
} */

.cabecalho {
    
    width: 312px;
    height: 29px;
    top: 0;
    left: 0;
    margin-left: 53px;

    font-family: UtopiaStdIt;
    font-size: 24px;
    color: white;
    letter-spacing: 10%;
}

.sobre {
 
    width: 444px;
    height: 60px;
    margin-left: 53px;
    margin-top: 100px; 
    
    font-family: UtopiaStd;
    font-size: 72px;
    color: white;
    line-height: 60px;
  
}
.design {
    width: 444px;
    height: 60px;
    margin-left: 53px;
    margin-top: 100px; 
    margin-right: 30px; 
    
    font-family: UtopiaStd;
    font-size: 72px;
    color: white;
    line-height: 60px;
    margin-bottom: 120px; 
     
}

.texto {
    margin:0;
    margin-bottom: 10px; 
    font-family: UtopiaStd;
    font-size: 24px;
    color: white;
    margin-left: 53px;
    margin-right: 500px;
   
 }

a:link {
        color: white;
        background-color: transparent;
        text-decoration: none;
        transition: 0.3s;
}
    
    a:visited { text-decoration: none; color:white; }
    a:hover { text-decoration: none; color:rgb(197, 197, 197); }
    a:focus { text-decoration: none; color:white; }
    a:hover, a:active { text-decoration: none; color:rgb(197, 197, 197)}
