@font-face {
    font-family: UtopiaStdIt;
    font-weight: 600;
    src: url("UtopiaStd-DispIt.otf") format("opentype");
}

@font-face {
    font-family: UtopiaStd;
    font-weight: 600;
    src: url("UtopiaStd-Disp.otf") format("opentype");
}


body {
    background-color: #202020;
    }
     
h1 {
    position: absolute;
    width: 312px;
    height: 29px;
    top: 0;
    left: 0;
    margin-left: 53px;
    font-weight: normal;
    font-family: UtopiaStdIt;
    font-size: 24px;
    color: white;
    letter-spacing: 10%;
    }

     
.sair {
    position:absolute;
    top:0;
    right:0;
    margin-right: 20px;
    margin-top: 13px;
}


h2 {
 
    width: 444px;
    height: 60px;
    margin-left: 53px;
    margin-top: 150px; 
    font-weight: normal;
    font-family: UtopiaStd;
    font-size: 72px;
    color: white;
    line-height: 60%;
    }

.h2margem {
    margin-top: 100px; 
   
}

.inputpesquisar {

    background-color: transparent;    
    border: none;
    border-bottom: 2px solid white;
    width: 480px;

    font-family: UtopiaStd;
    font-size: 22px;
    color: white;
    line-height: 29px;
}

input:focus{
    outline: none;
}

.pesquisarcontainer {

    margin-left: 53px;
    margin-top: 30px;

}

.lupa {

    margin-left: 20px;
    margin-bottom: -10px;
}

p {
    margin:0;
    margin-bottom: 10px; 
    font-family: UtopiaStd;
    font-size: 26px;
    color: white;
   
    }

.maiormargem{
    margin-top: 40px;
}

.colunas {
    column-count: 3;
    column-gap: 40px;
    margin-left: 53px;

    }


a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
    transition: 0.3s;
 }

a:visited { text-decoration: none; color:white; }
a:hover { text-decoration: none; color:rgb(197, 197, 197); }
a:focus { text-decoration: none; color:white; }
a:hover, a:active { text-decoration: none; color:rgb(197, 197, 197)}
